form {
    border: 1px solid black;
    border-radius: 5%;
    margin: 5em auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%
}
#color {
    border: 1px solid black;
    padding: 0.5em 2em;
    text-align: center;
}
#button {
    padding: 0.5em 2em;
    background: greenyellow;
}